# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Test data
test_data/*
*.feather
*.pdf
cumulative_capacity_and_number.csv
cumulative_capacity_and_number_20190121.csv
SA_agg.csv
australian_postcodes.csv
2018-08-25 raw inputs/2018-08-25_sa_qld_naomi.csv
2018-08-25 raw inputs/circuit_details.csv
2018-08-25 raw inputs/site_details.csv
2018-08-25 raw inputs/site_details_cleaned.csv
2018-08-25 raw inputs/circuit_details_cleaned.csv
POA_2016_AUST.xml
POA_2016_AUST.shx
POA_2016_AUST.shp
POA_2016_AUST.prj
POA_2016_AUST.dbf
data/*

.idea/vcs.xml
auto_test_data/*
data/*
renv/*

#pycharm
.idea/*
.idea/vcs.xml


AEMOtemplate_format.R
cumulative_capacity_and_number_20200218.csv
cumulative_capacity_and_number.csv
*.db
cumulative_capacity_and_number_20200811_raw_from_sql.csv
cumulative_capacity_and_number_20200811_raw_from_sql_v2.csv
cumulative_capacity_and_number_20200811_ready_for_tool.csv
cumulative_capacity_and_number_20200811_ready_for_tool_v2.csv
*.json
renv/*
.Rproj.user
cer_cumulative_capacity_and_number.csv
pv_installed.csv
pv_installed_formatted.csv
cer_cumulative_capacity_and_number_old.csv=
pv_installed_by_manufacturer_formatted.csv
cer_cumulative_capacity_and_number_by_manufacturer.csv
manufacters_missing_from_cer.csv
manufacters_missing_from_solar_analytics.csv
cer_cumulative_capacity_and_number_by_manufacturer_filter_off_grid_formatted.csv
cer_cumulative_capacity_and_number_by_manufacturer_filter_off_grid.csv=
manufacturers_missing_from_cer.csv
manufacturers_missing_from_input_db.csv
cer_cumulative_capacity_and_number_by_manufacturer.csv
cer_cumulative_capacity_and_number_old.csv
test_disconnection_summary.csv
test_manufacturers_missing_from_cer.csv
test_manufacturers_missing_from_solar_analytics.csv
test_upscaled_disconnections.csv
